<script lang="ts" setup>
useHead({
  titleTemplate: (titleChunk) => {
    const baseTitle = "Finally got Bahnhof";
    return titleChunk ? `${titleChunk} • ${baseTitle}` : baseTitle;
  },
});
</script>

<template>
  <NuxtPage/>
</template>
