<script setup lang="ts">
import type { Event } from "~/src/clock.ts";

defineEmits<{
  remove: [event: Event],
}>();

defineProps<{
  event: Event | null,
  previousEvent: Event | null,
  currentTime: number;
}>();
</script>

<template>
  <div v-if="event !== null" class="card">
    <h4>{{ event.description }}</h4>
    <span>{{ event.time.toFixed(1) }}s</span>
  </div>
</template>
