<script setup lang="ts">
import { Magnet } from "~/src/magnet.ts";

defineProps<{
  magnet: Magnet;
}>();
</script>

<template>
  <g :transform="`translate(${magnet.position}, 20)`">
    <path :d="`M -10 0 v 10 h 20 v -10`" stroke="#000" fill="none"/>
    <text x="12" y="16">{{ magnet.frequency / 1000 }}</text>
  </g>
</template>
