<script setup lang="ts">
import { Track } from "~/src/track.ts";

defineProps<{
  track: Track;
}>();
</script>

<template>
  <path :d="`M 0 20 h ${track.length}`" stroke="#000000" :stroke-width="6"/>
</template>
