<script setup lang="ts">
import {Train} from "~/src/train.ts";

const {train} = defineProps<{
  train: Train;
}>();

const height = 20;
const offset = 5;
</script>

<template>
  <path :d="`M ${train.positionFront.value} ${height} h ${-train.length} v ${-height} h ${train.length - offset} z`"
        fill="#3377dd"/>
</template>
