* {
  box-sizing: border-box;
  font-family: sans-serif;
}

.track-plan {
  display: block;
}

.control {
  display: flex;
  align-items: center;
}

.control-pane {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  width: 100%;
}

.card {
  margin: 0.2em 0;
  padding: 1em;
  background: #f0f0f0;
  border-radius: 0.1em;

  h4 {
    margin: 0;
  }

  meter {
    margin-right: 0.5em;
  }
}

.command-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 2.5em;
  gap: 0.5em;
  align-items: center;

  > .row {
    display: contents;
  }

  > .full-width {
    grid-column: 1 / 4;
  }
}
