<script setup lang="ts">
import { Clock } from "~/src/clock.ts";
import { Magnet } from "~/src/magnet.ts";
import { Track } from "~/src/track.ts";
import { Train } from "~/src/train.ts";

useHead({
  title: "PZB",
});

const trainLength = 100;
const velocity = 160 / 3.6;
const duration = 120;

const magnet1000 = new Magnet(200, 1000);
const magnet500 = new Magnet(950, 500);
const magnet2000 = new Magnet(1200, 2000);
const track = new Track(2000, [magnet1000, magnet500, magnet2000]);
const train = new Train(0, trainLength, velocity, 0, track);


const clock = new Clock([train, train.trainProtectionSystem]);
const isPaused = ref(false);

const events = computed(() => {
  return [...clock.saveCommand.events.value];
});

let lastUpdated: DOMHighResTimeStamp | null = null;

function update(timestamp: DOMHighResTimeStamp) {
  if (lastUpdated !== null && !isPaused.value) {
    const elapsed = (timestamp - lastUpdated) / 1000;
    clock.currentTime.value = Math.min(clock.currentTime.value + elapsed, duration);
  }

  lastUpdated = timestamp;
  requestAnimationFrame(update);
}

onMounted(() => {
  requestAnimationFrame(update);
});
</script>

<template>
  <svg :width="track.length" height="40" class="track-plan">
    <TrackPlanTrack :track="track"/>
    <TrackPlanMagnet v-for="magnet in [magnet1000, magnet500, magnet2000]" :magnet="magnet"/>
    <TrackPlanTrain :train="train"/>
  </svg>
  <div class="control">
    <span>Zeit</span>
    <input type="range" min="0" :max="duration" :step="clock.tickDuration" v-model.number="clock.currentTime.value"
           @mousedown="isPaused = true"
           @mouseup="isPaused=false"
    />
    <output>{{ clock.currentTime.value.toFixed(1) }}s / {{ duration.toFixed(1) }}s</output>
  </div>
  <ChartDistanceVelocity :length="track.length" :train="train"/>
  <ChartDistanceTime :length="track.length" :duration="duration" :clock="clock" :train="train"/>
  <div class="control-pane">
    <div>
      <h3>Ereignisse</h3>
      <EventCard v-for="(event, i) in events" :event="event" :previous-event="i > 0 ? events[i - 1] : null"
                 :current-time="clock.currentTime.value"/>
    </div>
    <div>
      <h3>Zug</h3>
      <CommandForm :train="train" @add="command => clock.addCommand(command)"/>
      <CommandCard v-for="(command, i) in clock.commands.value" :key="i" :command="command"
                   @remove="command => clock.removeCommand(command)"/>
    </div>
  </div>
</template>
