<script setup lang="ts">
import type { ChangeAccelerationEvent } from "~/src/train.ts";

defineProps<{
  command: ChangeAccelerationEvent,
}>();

defineEmits<{
  remove: [command: ChangeAccelerationEvent],
}>();
</script>

<template>
  <div class="card command-grid">
    <h4 class="full-width">{{ command.description }}</h4>
    <span class="full-width">{{ command.time.toFixed(1) }}s</span>
    <button type="button" @click="$emit('remove', command)">Entfernen</button>
  </div>
</template>
