<script setup lang="ts">
import { ChangeAccelerationEvent, Train } from "~/src/train.ts";

defineEmits<{
  add: [event: ChangeAccelerationEvent]
}>();

const props = defineProps<{
  train: Train,
}>();

const time = ref(0);
const acceleration = ref(0);

const event = computed(() => {
  return new ChangeAccelerationEvent(time.value, props.train, acceleration.value);
});
</script>

<template>
  <form @submit.prevent="$emit('add', event)" class="card command-grid">
    <div class="row">
      <label>Zeitpunkt</label>
      <input v-model="time" type="number" step="0.1"/>s
    </div>
    <div class="row">
      <label>Beschleunigung</label>
      <input v-model="acceleration" type="number" min="-2" max="2" step="0.1"/>m/s²
    </div>
    <button>Hinzufügen</button>
  </form>
</template>
