<script setup lang="ts">
import { Train } from "~/src/train.ts";

const { length, train } = defineProps<{
  length: number;
  train: Train
}>();

const padding = 5;
const maxVelocity = 180 / 3.6;

const gridElements = computed(() => {
  const elements = [];
  for (let x = 0; x <= Math.ceil(length / 100); x++) {
    elements.push("M", x * 100, 0);
    elements.push("v", maxVelocity * 3.6);
  }
  for (let y = 0; y <= Math.ceil(maxVelocity * 3.6 / 20); y++) {
    elements.push("M", 0, y * 20);
    elements.push("h", length);
  }
  return elements;
});

function velocityCoordinate(velocity: number): number {
  return (maxVelocity - velocity) * 3.6;
}

const trainPathElements = computed(() => {
  const elements = [];
  elements.push("M", train.history.value[0].positionFront, velocityCoordinate(train.history.value[0].velocity));
  for (let i = 1; i < train.history.value.length; i++) {
    elements.push("L", train.history.value[i].positionFront, velocityCoordinate(train.history.value[i].velocity));
  }
  return elements;
});

const trainProtectionSystemPathElements = computed(() => {
  const history = train.trainProtectionSystem.history.value;
  const elements = [];
  let hasPrevious = false;
  for (let i = 0; i < history.length; i++) {
    let supervisedVelocity = history[i].supervisedVelocity;
    if (supervisedVelocity === null) {
      hasPrevious = false;
      continue;
    }
    const command = hasPrevious ? "L" : "M";
    elements.push(command, train.history.value[i].positionFront, velocityCoordinate(supervisedVelocity));
    hasPrevious = true;
  }
  return elements;
});
</script>

<template>
  <svg :width="length + 2 * padding" :height="maxVelocity * 3.6 + 2 * padding"
       :viewBox="`${-padding} ${-padding} ${length + 2 * padding} ${maxVelocity * 3.6 + 2 * padding}`">
    <path :d="gridElements.join(' ')" stroke="#ddd"/>
    <path :d="trainPathElements.join(' ')" stroke="#3377dd" fill="none"/>
    <path :d="trainProtectionSystemPathElements.join(' ')" stroke="#eeaa00" fill="none"/>
  </svg>
</template>
