<script setup lang="ts">
import { Clock } from "~/src/clock.ts";
import { Train } from "~/src/train.ts";

const props = defineProps<{
  length: number;
  duration: number;
  clock: Clock;
  train: Train;
}>();

const padding = 5;

const gridElements = computed(() => {
  const elements = [];
  for (let x = 0; x <= Math.ceil(props.length / 100); x++) {
    elements.push("M", x * 100, 0);
    elements.push("v", props.duration * 5);
  }
  for (let y = 0; y <= Math.ceil(props.duration / 5); y++) {
    elements.push("M", 0, y * 25);
    elements.push("h", props.length);
  }
  return elements;
});

const trainFrontPathElements = computed(() => {
  const elements = [];
  elements.push("M", props.train.history.value[0].positionFront, 0);
  for (let i = 1; i < props.train.history.value.length; i++) {
    elements.push("L", props.train.history.value[i].positionFront, i * props.clock.stepDuration * 5);
  }
  return elements;
});
const trainRearPathElements = computed(() => {
  const elements = [];
  elements.push("M", props.train.history.value[0].positionFront - props.train.length, 0);
  for (let i = 1; i < props.train.history.value.length; i++) {
    elements.push("L", props.train.history.value[i].positionFront - props.train.length, i * props.clock.stepDuration * 5);
  }
  return elements;
});
</script>

<template>
  <svg :width="length + 2 * padding" :height="duration * 5 + 2 * padding"
       :viewBox="`${-padding} ${-padding} ${length + 2 * padding} ${duration * 5 + 2 * padding}`">
    <path :d="gridElements.join(' ')" stroke="#ddd"/>
    <path :d="trainFrontPathElements.join(' ')" stroke="#3377dd" fill="none"/>
    <path :d="trainRearPathElements.join(' ')" stroke="#3377dd" stroke-dasharray="3 3" fill="none"/>
    <path :d="`M 0 ${clock.currentTime.value * 5} h ${length}`" stroke="#444" opacity="0.5"/>
  </svg>
</template>
